<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class=" h-full bg-indigo-300 p-[20rem]">
    <div class="text-center">
<h1 class="font-black text-4xl">Counter App</h1>
  <p id="count" class="font-black text-2xl">0</p>
  <button id="increaseBtn" class="bg-green-600 text-white font-black p-2 rounded-lg">Increment</button>
  <button id="decreaseBtn" class="bg-blue-700 text-white font-black p-2 rounded-lg">Decrement</button> <br  >
  <button id="resetBtn" class="bg-red-600 text-white font-black p-2 rounded-lg mt-2">Reset</button>
</div>
    <script src="CounterApp.js"></script>
</body>
</html>